// fonts-family
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

// Colors
$primary-color: #FDD732;
$primary-color-bg: #040424;
$primary-color-text: #fff;


// grid-setup
$grid-width: 1152px;
$grid-gutter: 24px;
$grid-cols: 12;